form {
  &, & * {
    font-size: 1rem;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-6);
    padding: 2rem 0;
    border-top-width: 1px;

    &:first-of-type {
      padding-top: 0;
      border-top: none;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}