@import "variables";

body > * > header,
main > header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 2rem;

  &.sticky {
    border-bottom: 1px solid var(--border-color);
    grid-column: 1 / span 2;
    grid-row: -3;
    & > * {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      gap: 1rem .75rem;
      & > h1 {
        display: none;
      }
    }
  }
}

header {
  .actions {
    gap: var(--spacer-4);
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

main {
  overflow: auto;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  & > * {
    padding: 2rem;
  }
}

ul {
  &.inline {
    & > li {
      display: inline;
      &:not(:last-child)::after {
        content: " \b7  ";
      }
    }
  }
}

@media(min-width: $screen-lg) {
  body> * > header, header.sticky, main > * {
      padding: 2rem #{'max((100% - 66rem) / 2, 4rem)'};
  }
  body > * > header,
  main > header {
    &.sticky {
      & > * > h1 {
        display: initial;
      }
    }
  }
  header .actions {
    display: flex;
    flex-direction: row;
    grid-column: unset;
  }
}

@media print {
  main {
      overflow: initial;
  }
}

