nav {
  grid-row: -4;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  color: var(--contrast-secondary-color);
  --active-bg: var(--body-bg);
  overflow-y: auto;
  font-size: 1rem;
  line-height: 1.5;
  --line-height: 1.5rem;

  &>* {
    --color: var(--contrast-secondary);
  }

  .navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: .75rem;
    font-size: 1.25rem;
    line-height: 1.6;
    --line-height: 2rem;
    padding: 1rem;
    line-height: 1;

    h1 {
      font-size: 1rem;
      line-height: 1.5;
      --line-height: 1.5rem;
      width: 100%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .logo-full {
    font-size: 2.5rem;
    line-height: 1.2;
    --line-height: 3rem;
    width: 100%;
  }

  a {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
  
  header {
    display: none;
    padding: 3rem 1.5rem;
  }
  
  section, footer {
    display: none;
  }

  section {
    margin-bottom: 3rem;
  }

  section > a, footer > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1rem 1.5rem;
    // border-top: .0625rem solid var(--border-color);
    // border-bottom: .0625rem solid transparent;

    .icon {
      margin-right: 1rem;
    }
  }

  section>a[aria-current=page],
  section>a:hover,
  footer>a[aria-current=page],
  footer>a:hover {
    color: var(--accent-color);
  }

  footer {
    margin-top: auto;
  }

  &.open {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;

    & section, & footer {
      display: grid;
    }
  }

}

@media(min-width: 1024px) {
  nav {
      grid-row:span 2;
      grid-column: -3;

      &.open {
        position: static;
        width: 12.8125rem;
      }

      .navbar {
        display: none;
      }

      header, section, footer {
        display: grid;
      }
  }
}

@media print {
  nav {
      display: none
  }
}

// nav.open {
//   position: fixed;
//   height: 100%;
//   width: 100%;
//   z-index: 10
// }

// nav.open section,nav.open footer {
//   display: grid
// }

// @media(min-width: 1024px) {
//   nav.compact {
//       width:unset
//   }

//   nav.compact header .logo-full {
//       -webkit-mask-size: auto 1rem;
//       mask-size: auto 1rem;
//       -webkit-mask-position: 0;
//       mask-position: 0
//   }

//   nav.compact section>a,nav.compact footer>a,nav.compact details>summary,nav.compact [role=menuitem] {
//       font-size: 0
//   }

//   nav.compact section>a img,nav.compact section>a .icon,nav.compact footer>a img,nav.compact footer>a .icon,nav.compact details>summary img,nav.compact details>summary .icon,nav.compact [role=menuitem] img,nav.compact [role=menuitem] .icon {
//       margin-right: 0;
//       font-size: 1rem;
//       line-height: 1.5;
//       --line-height: 1.5rem
//   }

//   nav.compact footer>details>summary {
//       padding-left: 0;
//       padding-right: 0;
//       text-align: center
//   }
// }
