/*
*= require_tree ./partials
*= require_self
*/

:root {
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-xl: 1536px;

  --spacer-1: 0.25rem;
  --spacer-2: 0.5rem;
  --spacer-3: 0.75rem;
  --spacer-4: 1rem;
  --spacer-5: 1.5rem;
  --spacer-6: 2rem;
  --spacer-7: 3rem;
  --spacer-8: 4rem;
  --border-radius-1: 0.25rem;
  --border-radius-2: 0.5rem;
  --border-radius-3: 10rem;

  /* TODO */
  /* --font-family: */
  
  --dynamic-grid: min(100%, calc((31.25rem - 100%) * 1000));
  color-scheme: light dark;


  /* LAYOUT VARS */
  --course-nav-width: 11rem;
  --course-detail-padding: max((100vw - 68rem) / 2, 4rem);
}

.prose {
  --tw-prose-invert-body: #e3e7ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-clip: padding-box;
}

html,body {
  height: 100%;
  width: 100%;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

body {
  font-size: .875rem;
  line-height: 1.3;
  --line-height: 1.1375rem;
  /* TODO */
  /* font-family: var(--font-family); */
  background-color: hsl(var(--body-bg));
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  --line-height: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.3;
  --line-height: 1.95rem;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  --line-height: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  line-height: 1.5;
  --line-height: 1.5rem;
  font-weight: 400;
}

h5 {
  font-size: .875rem;
  line-height: 1.3;
  --line-height: 1.1375rem;
  font-weight: 400;
}

h6 {
  font-size: .75rem;
  line-height: 1.2;
  --line-height: 0.9rem;
  font-weight: 400;
}

a {
  color: var(--regular-color);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  cursor: pointer;
}

a[role="button"],
a.stretched-link {
  -webkit-text-decoration: none;
  text-decoration: none;
}

a.stretched-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.react-rendered-component {
  display: contents;
}

main.login-form form {
  max-width: 700px;
  margin: 0 auto;
}
